<h1>New V.I.P</h1>

<%= form_for [@organization, @vip] do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :about %>
		<%= f.text_area :about %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>