<h1>
	<%= @organization.name %>
</h1>

<%=link_to 'Schedule', root_path %>| 
<%=link_to 'FAQ', root_path %>| 
<%=link_to 'Important Docs', root_path %>|
<%=link_to 'Overviews', root_path %>|
<%=link_to 'New Event', new_organization_event_path(@organization) %>
<%=link_to 'New V.I.P', new_organization_vip_path(@organization) %>

<% @events.each do |event| %>
<p>
	<table>
		<tr>
			<th>
				<%= event.when.strftime("%A, %e %b %Y") %>
			</th>
		</tr>
		<tr>
			<td>
			 	<%= event.name %>
			</td>
		</tr>
	</table>
</p>
<% end %>
